[Unit]
Description=Alarm Killer Daemon
Requires=redis-server.service
After=redis-server.service

[Service]
ExecStartPre=/bin/bash -c 'until nc -z 127.0.0.1 6379; do sleep 1; done'
ExecStart=/home/cuba/school_bell/.venv/bin/python3 /home/cuba/school_bell/main.py
Restart=always
RestartSec=3

# Логи
StandardOutput=append:/var/log/school_bell/school-bell.log
StandardError=append:/var/log/school_bell/school-bell.log

[Install]
WantedBy=multi-user.target