CUBA_URL="cloud.cubaiot.kz"
CUBA_USER_EMAIL="myaccount"
CUBA_USER_PASSWORD="mypassword"
DEVICE_TOKEN="mytoken"
USER="nikita"
EXEC_SERVICE="/home/nikita/school_bell/.venv/bin/python3"
EXEC_FILE="/home/nikita/school_bell/bell.py"
CONFIG_PATH="/home/nikita/school_bell/config.json"