CUBA_URL="cloud.cubaiot.kz"
CUBA_USER_EMAIL="terra.nova4697@gmail.com"
CUBA_USER_PASSWORD="mypassword"
DEVICE_TOKEN="mytoken"
USER="cuba"
EXEC_SERVICE="/home/cuba/school_bell/.venv/bin/python3"
EXEC_FILE="/home/cuba/school_bell/bell.py"
CONFIG_PATH="/home/cuba/school_bell/config.json"