[Unit]
Description=Alarm Killer Daemon
After=network.target

[Service]
ExecStart=/home/cuba/school_bell/.venv/bin/python3 /home/cuba/school_bell/ps_killer/ps_killer.py
Restart=always
RestartSec=3

# Логи
StandardOutput=append:/var/log/school_bell/alarm-killer.log
StandardError=append:/var/log/school_bell/alarm-killer.log

[Install]
WantedBy=multi-user.target